<div class="container">
  <div class="page-header">
    <strong>ITEMS</strong>
    </div>
  <br>
  <p><a href="/items/new" class="btn btn-primary">ADD NEW</a>
  </p>
  <div class="table-responsive">
    <table  class="table table-condensed table-hover">

      <thead>
      <tr>
        <th>S.N.</th>
        <th>Name</th>
        <th>Unit </th>
        <th>Item Code</th>
        <th>Item Group </th>
        <th>Description</th>
        <th>Edit/Delete</th>
      </tr>
      </thead>

      <% @item.each_with_index do |item,i| %>

          <tbody>
          <tr>
            <td><%= (@page.to_i - 1) *10+i+1 %></td>
            <td> <%= item.name %></td>
            <td> <%= item.unit.name%></td>
            <td> <%= item.item_code %></td>
            <td> <%= item.item_group.name %></td>
            <td> <%= item.description %></td>
            <td>
              <a href="<%= edit_item_path(item)%>" data-toggle="tooltip" title="EDIT"><i class="fa fa-eye fa-lg" aria-hidden="true"> </i></a>
              &nbsp <a data-method="delete" href="<%= item_path(item)%>" data-confirm="Files will be permanently deleted?" data-toggle="tooltip" title="DELETE"><i class="fa fa-trash fa-lg" aria-hidden="true"> </i></a>
            </td>
          </tr>
          </tbody>

      <% end %>
    </table>
  </div>
  <%= will_paginate @item, renderer: BootstrapPagination::Rails %>
</div>