<div class="container">
  <div class="page-header">
    <strong>LOGS</strong>
    </div>
  <br>
  <div class="table-responsive">
    <table  class="table table-condensed table-hover">

      <thead>
      <tr>
        <th>S.N.</th>
        <th>Username</th>
        <th>Description</th>
        <th>Created At</th>
      </tr>
      </thead>

      <% @log.each_with_index do |log,i| %>

          <tbody>
          <tr>
            <td><%= (@page.to_i - 1) *20+i+1 %></td>
            <td> <%= log.user.username if log.user %>
            <td> <%= log.description%></td>
            <td> <%= log.created_at %></td>
            <td>
          </tr>
          </tbody>

      <% end %>
    </table>
  </div>
  <%= will_paginate @log, renderer: BootstrapPagination::Rails %>
</div>