
    <div class="container">
      <br>

      <div class="row">
        <div class="col-md-offset-2 col-md-6">
          <div class="well well1">

            <%= form_for @supplier do |f| %>
    <form>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label>Name</label></div>
            <div class="col-md-8">
              <%= f.text_field :name, {class: "form-control"} %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label>Address</label></div>
            <div class="col-md-8">
              <%= f.text_field :address, {class: "form-control"}%>
            </div>
          </div>
        </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label>Phone No.</label></div>
          <div class="col-md-8">
            <%= f.text_field :phone_no, {class: "form-control"}%>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label>Email</label></div>
          <div class="col-md-8">
            <%= f.text_field :email, {class: "form-control"}%>
          </div>
        </div>
      </div>


       <p> <button type="submit" class="btn btn-primary">SAVE</button>



    </form>
<% end %>
            </div>
          </div>
        </div>
      </div>
